* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  h1 {
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: 40%;
    
  }
  
  p {
    
    width: 40%;
    height: 35px;
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 0, 0);
    position: absolute;
    right: 0;
    top: 0;
    
  }
  div{
      border: 1px solid black;
    text-align: left;
      margin-left: 2%;
      margin-right: 2%;
      margin-bottom: 2%;
      margin-top: 2%;
      padding-left: 10px;
      padding-bottom: 10px; 
      padding-top: 35px;
      background-color:rgb(190, 190, 190);
      position: relative;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
#a1{
      background-color: chartreuse;

  }
  #a2{
      background-color: blueviolet;

  }
  #a3{
      background-color: cyan;
  }
  
  /* Simple Responsive Framework. */
  .row {
    width: 100%;
  }
  
  /********** Large devices only **********/
  @media (min-width: 992px) {
     .col-desk-4  {
      float: left;
      
    }
    
    .col-desk-4 {
      width: 29.33%;
    }
    
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
     .col-tab-6,.col-tab-12 {
      float: left;
      
    }
    .col-tab-6 {
      width: 46%;
    }
    .col-tab-12{
        width: 98%;
        
      
    
    }
   
    
  }
  